@media screen and (max-width: 550px) {
	section#post {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 10px;

		div.post_author, div.wrapper {
			width: 100%;
			padding-inline: 5px;
		}

		div.post_author, div.post_content {
			align-self: auto;
		}

		div.post_author {
			flex-direction: row;
			align-items: center;
			padding-block: 10px;

			div.image_container {
				width: 50px;
				height: 50px;
				min-width: 40px;
				min-height: 40px;
				margin: 5px;
				margin-right: 10px;
				border: 5px solid black;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}

			span {
				margin-bottom: 0;
			}

			span.name:after {
				content: '•';
				margin-inline: 5px;
			}

			span.date_container {
				width: 58%;
				text-align: left;
			}

			div.options_container {
				position: relative;

				div.icon_container {
					border-radius: 30px;
					padding: 10px;
					cursor: pointer;

					img {
						width: 8px;
						filter: invert(100%);
						user-select: none;
					}
				}

				div.icon_container:hover {
					background-color: rgb(80, 81, 82);
				}
				
				div.icon_container:active {
					background-color: rgb(60, 61, 62);
				}

				div.list_container {
					position: absolute;
					right: 2vw;
					display: none;
					width: 50vw;
					box-shadow: 0 0 10px #000;
					background-color: rgb(2, 3, 4);
					transition: opacity 0.5s;

					a {
						display: block;
						padding: 20px 2vw;
						font-size: 1.2em;
						color: #fff;
					}

					a:hover {
						background-color: rgb(80, 81, 82);
					}
				}

				div.list_container.active {
					display: block;
				}
			}
		}

		div.wrapper {
			padding-inline: 13px;
			padding-block: 4px;

			div.post_content {
				width: 100%;

				div.title {
					margin-bottom: 0;
					font-size: 1.2em;
				}

				div.content {
					padding-block: 15px 10px;

					div.image_container {
						max-width: 100%;
					}
				}
			}
		}
	}
}