@media screen and (max-width: 550px) {
	section#delete_post {
		margin-top: 0;

		section#first_check {
			p#question {
				font-size: 1.6em;
			}
		}

		section#second_check {
			h2 {
				font-size: 1.5em;
			}

			form {
				button {
					width: 50%;
				}
			}
		}
	}
}