section#home {
	button#load_more {
		width: 100%;
		border: none;
		padding-block: 20px;
		box-shadow: none;
		background-color: #111;
		color: #fff;
		cursor: default;
	}

	button#load_more[disabled] {
		display: none;
	}
}