section#posts {
	margin-top: 20px;
	background-color: #000;

	article.post {
		display: flex;
		margin: 5px 0;
		background-color: var(--section-color);

		div.link_container {
			width: 100%;
			padding: 10px 1vw;

			div.overlay {
				padding: 0;
			}

			div.post_author {
				display: flex;
				align-items: center;
				width: 100%;
				padding-inline: 20px;

				div.image_container {
					width: 50px;
					height: 50px;
					margin: 10px auto;

					a {
						position: relative;
						z-index: 4;

						img {
							display: block;
							width: 100%;
							border: 3px solid black;
							object-fit: cover;
							object-position: 0% 50%;
						}
					}
				}

				div.name_and_date {
					display: flex;
					align-items: center;
					width: 100%;
					padding-inline: 15px;
					text-align: left;

					div.name {
						position: relative;
						z-index: 4;
						
						a {
							font-weight: bold;
						}
					}

					div.name:after {
						content: '•';
						margin-inline: 5px;
					}

					div.date {
						color: #ddd;
						font-size: 0.8em;
					}
				}
			}

			div.post_content {
				padding: 5px 1.1vw 15px;
				text-align: left;

				div.title > h1 {
					font-size: 1.5em;
				}

				div.content {
					margin-top: 20px;

					div.text_container {
						line-height: 20px;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-moz-box-orient: vertical;
						-ms-box-orient: vertical;
						-webkit-line-clamp: 3;
						-moz-line-clamp: 3;
						-ms-line-clamp: 3;
						overflow: hidden;
					}

					div.image_container {
						min-width: 200px;
						min-height: 200px;
						max-width: 30vw;
						max-height: 50vh;

						img {
							display: block;
							min-width: inherit;
							min-height: inherit;
							max-width: inherit;
							max-height: inherit;
							object-fit: cover;
						}
					}
				}
			}
		}	
	}

	article.post:first-child {
		margin-top: 0;
	}

	article.post:last-child {
		margin-bottom: 0;
	}
}

