section#posts {
	margin-top: 20px;

	article.post {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		border-bottom: 1px solid #333;

		div {
			padding: 10px 20px;
		}

		div.overlay {
			padding: 0;
		}

		div.post_author {
			width: 7%;
		}

		div.post_content {
			text-align: left;
		}
	}
}

