div.search_result {
	background-color: rgb(25, 26, 27);

	div.link_container {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		margin-block: 10px;
		padding: 20px 2vw;

		div.overlay > a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}

		div.profile_picture {
			width: 12vh;
			height: 12vh;

			img {
				display: block;
				width: inherit;
				height: inherit;
				max-width: inherit;
				max-height: inherit;
				border: 5px solid black;
				object-fit: cover;
				object-position: 0% 0%;
			}
		}

		div.user_info {
			width: 100%;
			padding-inline: 2vw;

			p {
				text-align: left;
			}

			p:first-child {
				margin-bottom: 10px;
			}
		}
	}

	div.link_container:hover {
		background-color: var(--link-container-hover-color);
	}

	div.link_container:active {
		background-color: var(--link-container-active-color);
	}
}