section#search {
	div.container {
		padding: 30px 0;

		form {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-block: 20px;
			padding: 0 1.5vw;

			input, button {
				width: 100%;
			}

			div.input_container {
				width: 85%;
			}

			div.button_container {
				width: 12%;
				padding: 0;

				button {
					font-weight: bold;
					letter-spacing: .03em;
				}
			}
		}

		section#search_results {
			margin-top: 20px;
			padding-inline: 1.5vw;
		}
	}
}