section#posts_by_user {
	margin-top: 20px;
	padding-block: 15px;

	h2 {
		padding-block: 20px;
	}

	article.post {
		display: flex;

		div {
			padding: 5px 1vw;
		}

		div.overlay {
			padding: 0;
		}

		div.link_container {
			width: 100%;

			div.post_content {
				text-align: left;

				div.title_and_date {
					span {
						position: relative;
						z-index: 3;
						font-style: italic;
						color: #bbb;
					}
				}

				div.content {
					padding-block: 20px;

					div {
						padding: 0;
					}

					div.text_container {
						line-height: 20px;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-moz-box-orient: vertical;
						-ms-box-orient: vertical;
						-webkit-line-clamp: 3;
						-moz-line-clamp: 3;
						-ms-line-clamp: 3;
						overflow: hidden;
					}

					div.image_container {
						min-width: 200px;
						min-height: 200px;
						max-width: 40vw;
						max-height: 40vh;

						img {
							display: block;
							min-width: inherit;
							min-height: inherit;
							max-width: inherit;
							max-height: inherit;
							object-fit: cover;
						}
					}
				}
			}
		}
		
	}

	button#load_more {
		width: 100%;
		border: none;
		padding-block: 20px;
		box-shadow: none;
		background-color: #111;
		color: #fff;
		cursor: default;
	}

	button#load_more[disabled] {
		display: none;
	}
}

