section#posts_by_user {
	margin-top: 30px;
	padding-block: 15px;
	background-color: rgb(14, 15, 16);

	h2 {
		padding-block: 20px;
	}

	article.post {
		display: flex;

		div {
			padding: 10px 1vw;
		}

		div.overlay {
			padding: 0;
		}

		div.link_container {
			width: 100%;

			div.post_content {
				text-align: left;
			}
		}
		
	}
}

