section {
	input[type="file"] {
		margin-bottom: 0;
	}

	div.button_container {
		button {
			transition: all .1s;
		}

		button[disabled] {
			box-shadow: inset 0px 0px 8px 1px #111;
			background-color: rgb(19, 20, 21);
			cursor: not-allowed;
		}
	}
}

section#upload_profile_picture {
	padding-top: 40px;

	span.title {
		display: block;
		width: 91.5%;
		margin: 10px auto;
		border-bottom: 1px solid #aaa;
		line-height: 0.1em;
		text-align: left;

		span {
			padding-right: 5px;
			background-color: rgb(14, 15, 16);
			color: #aaa;
		}
	}

	div#profile_picture {
		width: 11%;
		height: 100%;
		margin-top: 40px;
		margin-left: 3.9vw;

		img {
			display: block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	form {
		padding-block: 10px;
	}
}