section {
	input[type="file"] {
		margin-bottom: 0;
	}

	div.button_container {
		button {
			transition: all .1s;
		}

		button[type="button"] {
			margin-right: 2vw;
		}

		button[disabled] {
			box-shadow: inset 0px 0px 8px 1px #111;
			background-color: rgb(19, 20, 21);
			cursor: not-allowed;
		}
	}
}

section {
	form {
		div.button_container {
			button {
				width: 20%;
			}
		}
	}
}

section#change_user_info {
	margin-top: 20px;
}

section#upload_profile_picture {
	padding-top: 40px;

	span.title {
		display: block;
		width: 91.5%;
		margin: 10px auto;
		border-bottom: 1px solid #aaa;
		line-height: 0.1em;
		text-align: left;

		span {
			padding-right: 5px;
			background-color: rgb(14, 15, 16);
			color: #aaa;
		}
	}

	div#profile_picture {
		width: 16vh;
		height: 16vh;
		margin-top: 40px;
		margin-left: 3.9vw;

		img {
			display: block;
			width: inherit;
			height: inherit;
			max-width: inherit;
			max-height: inherit;
			object-fit: cover;
			object-position: 0% 50%;
		}

		img.preview {
			object-position: 50% 50%;
		}
	}

	form {
		padding-block: 10px;

		div.input_container {
			margin-inline: 3.8vw;
			text-align: left;

			label {
				display: inline;
				box-shadow: inset 0px 0px 8px 2px #222;
				border: none;
				padding: 15px 3vw;
				line-height: 1em;
				background-color: #000;
				cursor: pointer;
			}

			label:hover {
				background-color: rgb(5, 6, 7);
			}

			input[type='file'] {
				display: none;
			}
		}
	}
}