section#options {
	margin-top: 20px;
	padding: 30px 1.5vw;

	div.edit, div.delete {
		text-align: left;

		div {
			width: 12vw;
			border-radius: 10px;
			background-color: rgb(35, 36, 37);
			text-align: center;

			a {
				display: block;
				padding: 15px 1vw;
				font-size: 1.2em;
			}
		}
	}
	
	div.delete {
		margin-top: 30px;

		div {
			background-color: rgb(70, 6, 7);
		}
	}
}