section {
	input[type="file"] {
		margin-bottom: 0;
	}

	div.button_container {
		button {
			transition: all .1s;
		}

		button[disabled] {
			box-shadow: inset 0px 0px 8px 1px #111;
			background-color: rgb(19, 20, 21);
			cursor: not-allowed;
		}
	}
}