section#authorize_delete {
	margin-top: 20px;

	section {
		padding-block: 20px;
	}

	section#first_check {
		h1, p {
			padding-block: 10px;
		}

		h1 {
			color: #cc0000;
			font-size: 2.4em;
		}

		p {
			font-size: 1.4em;
		}

		p#question {
			font-size: 1.8em;
			font-weight: bold;
		}
	}

	section#second_check {
		h2 {
			font-size: 1.8em;
		}

		form {
			button {
				width: 15%;
				margin-top: 0;
			}
		}
	}
}