section#login {
	margin-top: 20px;

	form {
		div.input_container:nth-child(even) {
			margin-bottom: 0;
		}

		div.submit_container {
			button {
				width: 20%;
				margin-inline: 25px;
				padding: 20px 2vw;
				background-color: var(--button-color);
				color: #fff;
				font-family: "Open Sans", sans-serif;
				font-size: 1.2em;
				font-weight: bold;
			}

			button:hover {
				box-shadow: var(--button-hover-box-shadow);
				background-color: var(--button-hover-color);
			}

			button:active {
				box-shadow: var(--button-hover-box-shadow);
				background-color: var(--button-active-color);
			}

			button[disabled="true"] {
				cursor: not-allowed;
				box-shadow: none;
				background-color: var(--disabled-button-color);
			}
		}
	}

	div#register {
		font-size: 1.4em;

		a {
			font-weight: bold;
			text-decoration-line: underline;
		}
	}
}