section#registration {
	width: 50%;
	margin: auto;
	padding-block: 30px;

	h1 {
		font-size: 2em;
	}

	div#error_container {
		display: flex;
		align-items: center;
		width: 92%;
		margin: 20px auto 0;
		border: 2px solid #660000;
		padding: 10px 1vw;
		background-color: rgba(143, 0, 0, 0.3);

		div.image_container {
			margin-right: 20px;
		}

		div.text_container {
			color: #fdd;
			font-weight: bold;
			font-size: 1.3em;
		}
	}

	form {
		div.input_container {
			div#username_note, div#password_note, div#matching_password_note {
				display: none;
				width: 92%;
				margin: 0 auto 20px;
				border: 2px solid #555;
				padding: 10px 1vw;
				background-color: #000;
				text-align: left;

				h3, p {
					margin-block: .3em;
				}

				h3 {
					margin-bottom: .6em;
				}

				p:before {
					content: "•";
					margin-right: 5px;
					font-size: 1.6em;
					vertical-align: middle;
				}
			}

			div#username_note.visible, div#password_note.visible, div#matching_password_note.visible {
				display: block;
			}
		}

		div.input_container:nth-child(3) {
			margin-bottom: 0;
		}

		div.submit_container {
			button {
				margin-inline: 25px;
				margin-bottom: 0;
				padding: 20px 3vw;
				background-color: #000;
				color: #fff;
				font-family: "Open Sans", sans-serif;
				font-size: 1.2em;
				font-weight: bold;
				transition: all .1s;
			}

			button[disabled] {
				box-shadow: inset 0px 0px 8px 1px #111;
				background-color: rgb(19, 20, 21);
				cursor: not-allowed;
			}
		}
	}

	div#register {
		font-size: 1.4em;

		a {
			font-weight: bold;
		}
	}
}