section#create_post {
	margin-top: 20px;

	div#post_type_switch {
		width: 92%;
		display: flex;
		align-items: center;
		margin: auto;
		padding-top: 20px;

		div.label {
			margin-right: 2vw;
			font-size: 1.4em;
			font-weight: bold;
		}

		div.button_container {
			padding: 0;
			text-align: center;

			button {
				margin-right: 2vw;
				border: 0;
				padding: 10px 2vw;
				box-shadow: var(--button-box-shadow);
				font-size: 1.2em;
				font-weight: bold;
				color: #fff;
				background-color: var(--button-color);
			}

			button:last-child {
				margin-right: 0;
			}

			button:hover {
				background-color: var(--button-hover-color);
			}

			button:active {
				background-color: var(--button-active-color);
			}

			button.selected {
				box-shadow: var(--selected-button-box-shadow);
				background-color: var(--selected-button-color);
			}
		}
	}

	form#regular_post_form {
		div.textarea_container {
			margin-block: 20px;

			textarea {
				max-height: 1000px;
			}
		}

		div.button_container {
			display: block;

			button {
				width: 15%;
			}
		}
	}

	form#image_post_form {
		div.input_container:nth-child(even) {
			div.inner_container {
				width: 92%;
				margin: 25px auto;
				box-shadow: var(--button-box-shadow);
				background-color: var(--button-color);
				text-align: left;

				button {
					margin-block: 5px;
					margin-left: 2.1vw;
					padding: 20px 0;
					box-shadow: none;
				}

				div.image_preview {
					min-width: 100%;
					min-height: 400px;
					max-height: 80vh;
					text-align: left;
					
					img {
						display: block;
						width: 100%;
						min-height: inherit;
						max-height: inherit;
						padding-block: 10px;
						object-fit: contain;
					}
				}
			}

			input[type="file"] {
				display: none;
			}
		}

		div.button_container {
			display: block;
			
			button {
				width: 15%;
			}
		}
	}
}