@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #aaa #000;
}

body {
	text-align: center;
	overflow-y: scroll;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
	color: #fff;

	a {
		text-decoration-line: none;
		color: #fff;
	}

	a:hover {
		color: #ddd;
	}

	a:active {
		color: #bbb;
	}

	button {
		font-family: "Open Sans", sans-serif;
		cursor: pointer;
	}
}

main {
	margin: 30px 4.5vw;
	background-color: rgb(14, 15, 16);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}