@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	--link-color: #fff;
	--link-hover-color: #ddd;
	--link-active-color: #bbb;

	--link-container-hover-color: #333;
	--link-container-active-color: #222;

	--error-container-color: rgb(70, 6, 7);

	--login-logoff-button-color: rgb(35, 36, 37);
	--login-logoff-button-hover-color: rgb(25, 26, 27);

	--section-color: rgb(14, 15, 16);

	--post-comment-content-color: rgb(30, 31, 32);

	--confirm-button-color: rgb(70, 6, 7);
	--confirm-button-hover-color: rgb(45, 6, 7);

	--disabled-confirm-button-color: rgb(25, 6, 7);

	--button-color: #000;
	--button-hover-color: #333;
	--button-active-color: #222;
	--button-box-shadow: inset 0px 0px 4px 2px #222;
	--button-hover-box-shadow: inset 0px 0px 4px 2px #444;

	--selected-button-color: #222;
	--selected-button-box-shadow: inset 0px 0px 4px 2px #444;

	--disabled-button-border: 1px solid #222;
	--disabled-button-color: rgb(19, 20, 21);
	--disabled-button-box-shadow: inset 0px 0px 4px 2px #222;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #aaa #000;
}

body {
	text-align: center;
	overflow-y: scroll;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #232427 url(../assets/background.png) bottom center no-repeat fixed;
	background-size: cover;
	color: #fff;

	a {
		text-decoration-line: none;
		color: var(--link-color);
	}

	a:hover {
		color: var(--link-hover-color);
	}

	a:active {
		color: var(--link-active-color);
	}

	button {
		font-family: "Open Sans", sans-serif;
		cursor: pointer;
	}
}

main {
	padding: 30px 4.5vw;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}