section#loading {
	margin-top: 20px;
}

@media screen and (max-width: 550px) {
	section#loading {
		margin-top: 0;
	}
}

span.loading_spinner, div.loading_spinner {
	display: inline-block;

	img {
		animation: spinner .8s linear infinite;
	}
	
}

span.loading_spinner {
	width: 20px;
	height: 20px;

	img {
		width: inherit;
		height: inherit;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}