div#notification {
	position: fixed;
	z-index: 4;
	top: 15%;
	left: 31%;
	min-width: 800px;
	max-width: 30vw;
	display: flex;
	align-items: center;
	box-shadow: 0 0 25px #000;
	border: 2px solid rgb(57, 58, 58);
	padding: 10px 1vw;
	background-color: rgb(17, 18, 18);

	div.icon_container {
		img {
			width: 80px;
		}
	}

	div.text_container {
		width: 100%;
		padding-inline: 1vw;
		font-size: 2em;
		text-align: left;
	}
}