section {
	background-color: var(--section-color);
}

p {
	white-space: pre-wrap;
}

button[disabled] {
	border: var(--disabled-button-border);
	background-color: var(--disabled-button-color);
}

button[disabled]:hover {
	background-color: var(--disabled-button-color);
}

form {
	padding-block: 20px;

	div.input_container {
		margin-block: 20px;
	}

	div.textarea_container {
		margin-top: 40px;

		textarea {
			margin-bottom: 0;
		}
	}

	label {
		display: block;
		width: 91.5%;
		margin: 10px auto;
		border-bottom: 1px solid #aaa;
		line-height: 0.1em;
		text-align: left;

		span {
			padding-right: 5px;
			background-color: var(--section-color);
			color: #aaa;
		}
	}

	input, textarea, button {
		margin-block: 15px;
		border: none;
		box-shadow: var(--button-box-shadow);
		padding: 20px 2vw;
		background-color: var(--button-color);
		color: #fff;
		font-family: "Open Sans", sans-serif;
		font-size: 1.1em;
	}

	input, textarea {
		width: 92%;
	}

	button {
		padding-inline: 3vw;
	}

	button:hover {
		background-color: var(--button-hover-color);
	}

	button[disabled]:hover {
		background-color: var(--disabled-button-color);
	}
}

div.button_container {
	padding-inline: 3.7vw;
	text-align: right;
}



div.link_container {
	position: relative;

	div.overlay > a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
}

div.link_container:hover {
	background-color: var(--link-container-hover-color);
}

div.link_container:active {
	background-color: var(--link-container-active-color);
}


section#registration, section#login {
	width: 60%;
	margin: auto;
	padding-block: 30px;

	h1 {
		font-size: 2em;
	}

	div#error_container {
		display: flex;
		align-items: center;
		width: 92%;
		margin: 20px auto 0;
		border: 2px solid #660000;
		padding: 10px 1vw;
		background-color: var(--error-container-color);

		div.image_container {
			margin-right: 20px;
		}

		div.text_container {
			color: #fdd;
			font-weight: bold;
			font-size: 1.3em;
		}
	}
}


div#confirm_delete {
	display: flex;
	justify-content: space-evenly;
	width: 92%;
	margin: 10px auto 0;

	button {
		width: 30%;
		box-shadow: var(--button-box-shadow);
		border: none;
		padding: 20px 2vw;
		color: #fff;
		font-family: "Open Sans", sans-serif;
		font-size: 1.1em;
		transition: background-color .05s;
	}

	button[value="Y"] {
		background-color: var(--confirm-button-color);
	}

	button[value="Y"]:hover {
		background-color: var(--confirm-button-hover-color);
	}

	button[value="N"] {
		background-color: var(--button-color);
	}

	button[value="N"]:hover {
		background-color: var(--button-hover-color);
	}

	button[disabled] {
		box-shadow: none;
		cursor: not-allowed;
	}

	button[value="Y"][disabled] {
		background-color: var(--disabled-confirm-button-color);
	}

	button[value="N"][disabled] {
		background-color: var(--disabled-button-color);
	}
}