header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 3.35vw 15px 4.5vw;
	background-color: var(--section-color);

	button#log_off_button {
		margin-inline: 1vw;
		border: none;
		border-radius: 15px;
		padding: 10px 2vw;
		background-color: var(--login-logoff-button-color);
		color: #fff;
		font-size: 1.4em;
		font-weight: bold;
	}

	button#log_off_button:hover {
		background-color: var(--login-logoff-button-hover-color);
	}

	nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		a {
			margin-inline: 1vw;
			border-radius: 15px;
			padding: 15px 1vw;
			font-weight: bold;
		}

		a:hover {
			background-color: #333;
		}
		
		a#log_in_button {
			padding: 10px 2vw;
			font-size: 1.5em;
			background-color: var(--login-logoff-button-color);
		}

		a#log_in_button:hover {
			background-color: var(--login-logoff-button-hover-color);
		}
	}
}