header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 3vw;
	background-color: rgb(14, 15, 16);

	div#logo_container {
		width: 8%;
	}

	button#log_off_button {
		border: none;
		border-radius: 15px;
		padding: 10px 2.5vw;
		background-color: rgb(35, 36, 37);
		color: #fff;
		font-size: 1.4em;
		font-weight: bold;
	}

	button#log_off_button:hover {
		background-color: rgb(25, 26, 27);
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 20%;

		a {
			border-radius: 15px;
			padding: 15px 1vw;
			font-weight: bold;
		}

		a:hover {
			background-color: #333;
		}
		
		a#log_in_button {
			padding: 10px 3vw;
			font-size: 1.5em;
			background-color: rgb(35, 36, 37);
		}

		a#log_in_button:hover {
			background-color: rgb(25, 26, 27);
		}
	}
}