@media screen and (max-width: 550px) {
	div#notification {
		left: 5%;
		min-width: 90vw;
		padding-inline: 5%;

		div.icon_container {
			img {
				width: 36px;
			}
		}

		div.text_container {
			padding-inline: 5%;
			font-size: 1.2em;
		}
	}
}