@media screen and (max-width: 550px) {
	form {
		label {
			width: 95.5%;
		}

		input, textarea {
			width: 96%;
		}

		input, textarea, button {
			padding-inline: 20px;
			font-size: 1em;
		}
	}

	section#login, section#registration {
		width: 100%;
		margin-top: 0;
	}

	div.button_container {
		padding-inline: 2vw;
	}

	div#confirm_delete {
		width: 96%;
		justify-content: space-between;

		button {
			width: 47%;
			font-size: 1.2em;
		}
	}
}