@media screen and (max-width: 550px) {
	form {
		label {
			width: 95.5%;
		}

		input, textarea {
			width: 96%;
		}

		input, textarea, button {
			padding-inline: 20px;
		}
	}

	section#login, section#registration {
		width: 100%;
		margin-top: 0;
	}
}