@media screen and (max-width: 550px) {
	form {
		label {
			width: 95.5%;
		}

		input, textarea {
			width: 96%;
		}

		input, textarea, button {
			padding-inline: 20px;
			font-size: 1em;
		}
	}

	section#login, section#registration {
		width: 100%;
		margin-top: 0;
	}

	div.button_container {
		padding-inline: 2vw;
	}

	

	section#delete {
		margin-top: 0;

		section#first_check {
			p {
				font-size: 1.2em;
			}

			p#question {
				font-size: 1.6em;
			}

			div#confirm_delete {
				width: 96%;
				justify-content: space-between;

				button {
					width: 47%;
					font-size: 1.2em;
				}
			}
		}

		section#second_check {
			h2 {
				font-size: 1.5em;
			}

			form {
				button {
					width: 50%;
				}
			}
		}
	}
}