@media screen and (max-width: 550px) {
	header {
		justify-content: normal;
		padding-block: 10px;

		div#toggle_aside {
			margin-top: 5px;
			margin-right: 6vw;

			button {
				width: 24px;
				height: 24px;
				border: none;
				background-color: transparent;

				img {
					width: 100%;
				}
			}
		}

		div#logo_container {
			width: 100%;
			text-align: left;

			h1 {
				font-size: 1.7em;
			}
		}

		nav {
			div#user {
				margin: 0;
				border: none;
				border-radius: 0;

				div.user_picture {
					width: 6vh;
					height: 6vh;
					min-width: auto;
					min-height: auto;

					p.admin_tag {
						font-size: 0.6em;
						color: yellow;
					}
				}
			}
		}
	}
}