@media screen and (max-width: 550px) {
	header {
		align-items: flex-end;
		justify-content: normal;

		div#toggle_aside {
			margin-right: 6vw;

			button {
				width: 24px;
				height: 24px;
				border: none;
				background-color: transparent;

				img {
					width: 100%;
				}
			}
		}

		div#logo_container {
			h1 {
				font-size: 1.6em;
			}
		}
	}
}