@media screen and (max-width: 550px) {
	section#login {
		margin-top: 0;

		form {
			div.submit_container {
				button {
					width: 50%;
				}
			}
		}

		div#register {
			font-size: 1.2em;
		}
	}
}