section#comments {
	margin-top: 40px;

	article.comment {
		display: flex;
		border: 2px solid #000;
		text-align: left;
		background-color: #111;

		div.comment_info, div.comment_content {
			align-self: stretch;
		}

		div.comment_info {
			width: 9%;
			padding-block: 10px;
			background-color: var(--section-color);

			div.image_container {
				width: 8vh;
				height: 8vh;
				min-width: 60px;
				min-height: 60px;
				margin: 10px auto;

				img {
					display: block;
					width: inherit;
					height: inherit;
					min-width: inherit;
					min-height: inherit;
					max-width: inherit;
					max-height: inherit;
					border: 5px solid black;
					object-fit: cover;
					object-position: 0% 50%;
				}
			}

			div.author {
				p {
					margin-bottom: 5px;
				}
			}

			p {
				text-align: center;
				font-size: 0.8em;

				span {
					font-weight: bold;
				}
			}
		}

		div.comment_content {
			width: 91%;
			padding: 20px 1vw;
			background-color: var(--post-comment-content-color);

			p {
				font-size: 1.2em;
			}
		}
	}
}

section#comments.empty {
	padding: 40px 2.5vw;
	background-color: var(--section-color);

	p {
		text-align: left;
		font-size: 1.6em;
	}
}