section#delete_post {
	section {
		padding-block: 20px;
	}

	section#first_check {
		p#question {
			padding-block: 10px;
			font-size: 1.8em;
			font-weight: bold;
		}
	}

	section#second_check {
		h2 {
			font-size: 1.8em;
		}

		form {
			button {
				margin-top: 0;
			}
		}
	}
}