section#post {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: transparent;

	div.post_author, div.post_content {
		display: flex;
		flex-direction: column;
		align-self: stretch;
	}

	div.post_author {
		width: 13%;
		padding-block: 20px;
		background-color: var(--section-color);

		div.image_container {
			width: 16vh;
			height: 16vh;
			min-width: 100px;
			min-height: 100px;
			margin: 20px auto;
			border: 5px solid black;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 0% 50%;
			}
		}

		span {
			margin-bottom: 10px;

			a {
				font-weight: bold;
			}
		}
	}

	div.wrapper {
		display: flex;
		align-self: stretch;
		width: 87%;
		padding: 20px 2vw;
		text-align: left;
		background-color: var(--post-comment-content-color);

		div.post_content {
			width: 99%;

			div.title {
				margin-bottom: 10px;
				font-size: 1.6em;

				h1 {
					margin-block-start: 0;
					margin-block-end: 0;
				}
			}

			div.content {
				div.image_container {
					min-width: 200px;
					min-height: 200px;
					max-width: 60vw;
					max-height: 100vh;

					img {
						display: block;
						min-width: inherit;
						min-height: inherit;
						max-width: inherit;
						max-height: inherit;
						object-fit: cover;
					}
				}
			}
		}

		div.options_container {
			position: relative;

			div.icon_container {
				border-radius: 30px;
				padding: 10px;
				cursor: pointer;

				img {
					width: 8px;
					filter: invert(100%);
					user-select: none;
				}
			}

			div.icon_container:hover {
				background-color: rgb(80, 81, 82);
			}
			
			div.icon_container:active {
				background-color: rgb(60, 61, 62);
			}

			div.list_container {
				position: absolute;
				right: .5vw;
				display: none;
				width: 8vw;
				box-shadow: 0 0 10px #000;
				background-color: rgb(2, 3, 4);
				transition: opacity 0.5s;

				a {
					display: block;
					padding: 10px 2vw;
					color: #fff;
				}

				a:hover {
					background-color: rgb(80, 81, 82);
					cursor: pointer;
				}
			}

			div.list_container.active {
				display: block;
			}
		}
	}
}

section#post.missing {
	padding: 2vh 2.5vw;
	background-color: var(--section-color);
}